.parent-box{
    position: relative;
    bottom: 0;
    background-color: #001A2D;
    color: #fff;
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    bottom: 0;
}
.child-box{
    padding: 0.2rem;
    width: 100%;
    height: 100%;
}
.child-box p{
    font-size: 0.8rem;
    padding: 0.6rem;
}
.child-box p i{
    width: 20px;
    height: 20px;
}
.child-box p a{
    text-decoration: none;
    color: #fff;
}
.child-box i a:hover{
    background-color: #fff;
    color: #001A2D;
}
.child-box a i{
    color: #fff;
    padding: 1rem;
}
.box-1-top{
    height: 30%;
    width: 100%;
}
.box-1-top img{
    width: 90%;
    height: 175%;
    padding: 2px;
}
.box-1-bottom{
    height: 70%;
    position: relative;
    top: 10px;
}
.huzaifa{
    opacity: 12;
    border-radius: 12px;
}
@media screen and (max-width:850px) {
    .parent-box{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .child-box{
        width: 100%;
        height: auto;
    }
    .box-1-top{
        height: 100%;
        width: 100%;
    }
    .box-1-bottom{
        display: none;
    }
    .box-1-top img{
        image-rendering: auto;
        width: 100%;
        height: 100%;
        padding: 2px;
    }
}